<%- include ('./partials/navbar') %>
<div class="row h-100 bg-dark">
  <div class="col-md-6 m-auto">
    <div class="card card-block text-center p-4">
      <h3>Welcome to OMessenger</h3>
      <div class="m-3">
        <img src="/icons/icon-128x128.png" alt="opofa logo" />
      </div>

      <a href="/users/register" class="btn btn-success btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
